<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('/bundles/calderamembers/css/bootstrap4/bootstrap.min.css') }}" />
</head>
<body>

{% block content %}
{% endblock %}

<script src="{{ asset('/bundles/calderamembers/js/jquery3/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('/bundles/calderamembers/js/tether/tether.min.js') }}"></script>
<script src="{{ asset('/bundles/calderamembers/js/bootstrap4/bootstrap.min.js') }}"></script>
</body>
</html>


